nav#navbar
  .container
    #logo
      a.navbar-brand(href=""+ directory+ "")
        img(src="/images/logo.png", alt="logo")
    #menu
        ul#menu-items
          li
            a(href=""+ directory+ "#sobre-nos") sobre nos
          li
            a(href=""+ directory+ "#servicos") serviços
