nav#navbar
  .container
    #logo
      a.navbar-brand(href=""+ directory+ "")
        img(src=""+ directory+ "assets/images/logo.png", alt="logo", style='width:50px; height:50px; position: absolute;')
    #menu
        ul#menu-items
          li
            a(href=""+ directory+ "#sobre-nos") sobre
          li
            a(href=""+ directory+ "#servicos") o que fazemos
