header.bg-dark.py-5
      .container.px-5
        .row.gx-5.justify-content-center
          .col-lg-6
            .text-center.my-5
              h1.display-5.fw-bolder.text-white.mb-2 Present your business in a whole new way
              p.lead.text-white-50.mb-4
                | Quickly design and customize responsive mobile-first sites with Bootstrap, the world&rsquo;s most popular front-end open source toolkit!
              .d-grid.gap-3.d-sm-flex.justify-content-sm-center
                a.btn.btn-primary.btn-lg.px-4.me-sm-3(href='#features') Get Started
                a.btn.btn-outline-light.btn-lg.px-4(href='#!') Learn More